<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' type='text/css' href= "{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<div class="wrapper">
	<form class="form"> <!--The main form-->
	<div class='container'>
		<div class='row'>
			<div class='col-sm-12'>
				<h2 class='title'><strong>관찰 기록<strong></h2>
				<br>
				<div class='observer'>
					<strong>관찰자</strong> <input type="text" name="name"></input>
				</div>
				<div class='date'>
					날짜: <select id="day">
						<script>
							for(i=0; i<31; i++){
								$("#day").append("<option value=d"+ (i+1) + ">"+(i+1)+"</option>");
							}
						</script>
					</select>
					<select id="month">
						<script>
							for(i=0; i<12; i++){
								$("#month").append("<option value=m"+ (i+1) + ">"+(i+1)+"</option>");
							}
						</script>
					</select>
					<select id="year">
						<script>
							for(i=2020; i>1999; i--){
								$("#year").append("<option value=y"+ (i) + ">"+(i)+"</option>");
							}
						</script>
					</select></br>
				</div>
				<div class='time'>
					관찰 시간: <select id="hr">
						<script>
							for(i=0; i<13; i++) {
								$("#hr").append("<option value=h"+(i)+">"+(i)+"</option>");
							}
						</script>
					</select>
					<select id="min">
						<script>
							for(i=0; i<61; i++) {
								$("#min").append("<option value=m"+(i)+">"+(i)+"</option>");
							}
						</script>
					</select>
					<select id="ampm">
							<option value="am">AM</option>
							<option value="pm">PM</option>
					</select> - 
					<select id="hr2">
						<script>
							for(i=0; i<13; i++) {
								$("#hr2").append("<option value=h"+(i)+">"+(i)+"</option>");
							}
						</script>
					</select>
					<select id="min2">
						<script>
							for(i=0; i<61; i++) {
								$("#min2").append("<option value=m"+(i)+">"+(i)+"</option>");
							}
						</script>
					</select>
					<select id="ampm2">
							<option value="am">AM</option>
							<option value="pm">PM</option>
					</select>
				</div>
			</div>
		</div>
		<div class='row place'>
			<div class='col-sm-12'>
				<div class='location'>
					<strong>장소</strong> <span>(주소나 gps 좌표를 입력하시거나 지도에서 관찰 장소를 클릭해 주세요)</span></br>
				</div>
			</div>
			<div class='col-sm-6'>
				<p class='address-heading'> 주소 </p>
				<input type="text" name="place" id="address"></input> <input type="button" value="검색" id="ad_search"></br>
			</div>
			<div class='col-sm-6'>
				<p class='gps-heading'> GPS 좌표</p>
				lat &nbsp<input type="text" name="lat" id="lat"></input></br>
				lng <input type="text" name="lng" id="lng"></input></br>
				<input type="button" value="찾기" id="gps_search"></br>
			</div>
		</div>
</br>
		<div class='row'>
			<div class='col-sm-12'>	
				<div id="map">map</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12'>
				<div style='margin-top:1%'><div>
				범위(m)<input type="text" name="radius" id="radius"></input>
			</div>
		</div>
</br>
		<div class='row'>
			<div class='col-sm-12'>
				</br>
				<br>
				<b class='font120'>주변 환경</b><br>
				<b>모이 주는 타입</b>
					<select>
					  <option value="No-tube-feeder">피더 없음</option>
					  <option value="Feed-on-the-ground">땅에서 먹음</option>
					  <option value="high-up-feeder">높이 있는 피더</option>
					</select><br>
				<b>환경 조건</b> &nbsp<select>
					<option value="urban">도시</option>
					<option value="agro">농지</option>
					<option value="forest">숲</option>
					<option value="aquatic">물주변 (슾지,강,바다 등)</option>
				</select></br>
				<b>기온</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select>
					<option value="-18under">-18이하</option>
					<option value="-18to-10">-18~-10</option>
					<option value="-10to0">-10~0</option>
					<option value="0to10">0~10</option>
					<option value="10to20">10~20</option>
					<option value="20over">20이상</option>
				</select></br></br>
				<b class='font120''>강수</b> </br>
				형태 <input type="text" name="precip-type" placeholder="눈, 비, 눈/비, 없음"></input></br>
				언제 <select>
						<option value="None">없음</option>
						<option value="1st">1차 조사때</option>
						<option value="2nd">2차 조사때</option>
						<option value="subseq">다음 차수에</option>
					</select><br>
				어떻게 <select>
						<option value="partially">잠깐씩</option>
						<option value="continuously">계속</option>
					</select><br>
				눈덮임 </br>
					<input type="radio" name="snow" value="none"> 없음 </input></br>
					<input type="radio" name="snow" value="5under"> 5cm > </input></br>
					<input type="radio" name="snow" value="5to15"> 5cm-15cm </input></br>
					<input type="radio" name="snow" value="15over"> 15cm < </input></br>
				쌓인눈 상태 </br>
					<input type="radio" name="snow-cond1" value="crust"> 눈위가 얼음 </input></br>
					<input type="radio" name="snow-cond1" value="patchy"> 눈이 드문드문 있음 </input></br>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12'>
			<br><br>
			<b class='font120'>Observation</b> </br>
			<table id="species-list" class="table-bordered">
				<tr id="species-heading">
					<th>종 이름</th>
					<th>1차 세션(처음 5분)</th>
					<th>1차 세션(다음 5분)</th>
					<th>2차 세션(10분)</th>
					<th>3차 세션(10분)</th>
				</tr>
				<tr id="species-add">
					<td><input type='button' id="species-add-button" value='+'></td>
					<td></td>	
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			</div>
		</div>
		</br>
		<input type="submit" value="submit">
		</br></br>
	</form>
</div>

<script src="{{url_for('static', filename='js/lib/knockout-3.4.2.js')}}"></script>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe3MvxR1WK3axdrtshpQGB7fXPyYybR5c&v=3&callback=initMap">
</script>
</body>
</html>