<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' type='text/css' href= "{{url_for('static', filename='style.css')}}">
	{% endblock %}
</head>
{% block menu %}
<h1> This is a menu </h1>
{% endblock %}

<body>
{% block body %}{% endblock %}
</body>

{% block footer %}
<footer class="footer">
	<h1> This is a footer </h1>
</footer>
{% endblock}
</html>